{% extends "base_generic.html" %}

{% block content %}
    <h1>Title: {{ character.title }}</h1>

    <p><strong>Name:</strong> {{ character.name }}</p>
    <p><strong>Level:</strong> {{ character.level }}</p>
    <p><strong>Class:</strong> {{ character.player_sub_class }} {{ character.player_super_class }}</p>
    <p><strong>Frags:</strong> {{ character.frags }}</p>
    <p><strong>Status:</strong>{% if character.alive %}
        Alive :)
    {% else %}
        Dead :(
    {% endif %}</p>
{% endblock %}