{% extends "base_generic.html" %}

{% block content %}
    <h1>Hall of Fame List</h1>

    {% if halloffamelist %}
        <ul>
            {% for character in halloffamelist %}
                <li>
                    <a href="{{ character.get_absolute_url }}">{{ character.name }}</a>,
                    level {{ character.level }} {{ character.player_sub_class }} {{ character.get_player_super_class_display }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no characters dead at the moment.</p>
    {% endif %}
{% endblock %}