{% extends "base_generic.html" %}

{% block content %}
    <h1>Hall of Fame List</h1>

    {% if hall_of_fame_list %}
        <ul>

            {% for character in hall_of_fame_list %}
                <li>
                    {% if not character.alive %}
                    <a href="{{ character.get_absolute_url }}">{{ character.name }}</a>,
                    level {{ character.level }} {{ character.player_sub_class }} {{ character.get_player_super_class_display }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no characters dead at the moment.</p>
    {% endif %}
{% endblock %}